.profile{
    width: min(90%, 70rem);
    padding-top: 4em;
    margin: 0 auto;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5em;
}

.head img{
    margin-bottom: 1.5em;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.head h1{
    font-style: normal;
    font-weight: 700;
    font-family: var(--font-inter-700);
    font-size: 1.75rem;
    line-height: 1.75rem;
    /* identical to box height, or 156% */

    text-align: center;

    /* Gray/900 */

    color: #101828;
}

.links a{
    display: block;
    padding: 1.5em 2em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family: var(--font-inter-500);
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #101828;
}

.icons{
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.icons img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.75em;
}

.footer{
    padding: 4.375em 1.0625em 2em 1.0625em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.zuri_logo{
    margin-bottom: 1rem;
    width: 138.77px;
    height: 18.55px;
}

.footer h2{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #667085;
    flex-grow: 0;
    margin-bottom: 1rem;
    font-family: var(--font-inter-400);
}

.ingressive_logo{
    width: 99.1px;
    height: 24px
}

@media screen and (min-width: 700px){
    .footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .zuri_logo,
    .footer h2{
        margin-bottom: 0rem;
    }
}